{% extends "base.html" %}

{% block content %}
<h1>Добавляем книгу</h1>
<form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title }}<br>
        {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.author.label }}<br>
        {{ form.author }}<br>
        {% for error in form.author.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.about.label }}<br>
        {{ form.about }}<br>
        {% for error in form.about.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.date.label }}<br>
        {{ form.date }}<br>
        {% for error in form.date.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.img.label }}<br>
        {{ form.img }}<br>
        {% for error in form.img.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.book.label }}<br>
        {{ form.book }}<br>
        {% for error in form.book.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.check.label }}<br>
        {{ form.check }}<br>
        {% for error in form.check.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}