{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center">
<h1>Добро пожаловать на главную страницу!</h1>
</div>

<div class="d-flex justify-content-center">
<h2>Можете почитать</h2>
</div>
<div class="d-flex justify-content-between">
{% for book in sample(Book.query.all(), 3) %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="static/img/{{ book.img }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-text">{{book.about}}</p>
    <a href="#" class="btn btn-primary">See more</a>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}